[submodule "tools/emsdk"]
	path = tools/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "include/raylib"]
	path = include/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "include/raygui"]
	path = include/raygui
	url = https://github.com/raysan5/raygui.git
